Repository FairwindsOps/charts, pull requests merged in 2019-11, with the labels that each got.

#172 Bb/k8s node termination handler
  incubator/gke-node-termination-handler/.helmignore
  incubator/gke-node-termination-handler/Chart.yaml
  incubator/gke-node-termination-handler/README.md
  incubator/gke-node-termination-handler/templates/NOTES.txt
  incubator/gke-node-termination-handler/templates/_helpers.tpl
  incubator/gke-node-termination-handler/templates/daemonset.yaml
  incubator/gke-node-termination-handler/templates/rbac.yaml
  incubator/gke-node-termination-handler/values.yaml
Labels: incubator, new-chart

#173 Changing over to just install the recommender, CRD, and RBAC. Add an upgrade path
  stable/goldilocks/Chart.yaml
  stable/goldilocks/README.md
  stable/goldilocks/templates/vpa-install-hook.yaml
  stable/goldilocks/templates/vpa-uninstall-hook.yaml
  stable/goldilocks/values.yaml
Labels: goldilocks, stable

#176 Adding serviceprofile path to basic-demo
  incubator/basic-demo/Chart.yaml
  incubator/basic-demo/templates/serviceprofile.yaml
Labels: incubator

#175 Added workload report for insights
  stable/insights-agent/Chart.yaml
  stable/insights-agent/README.md
  stable/insights-agent/templates/workloads/_job.yaml
  stable/insights-agent/templates/workloads/cronjob.yaml
  stable/insights-agent/templates/workloads/job.yaml
  stable/insights-agent/templates/workloads/rbac.yaml
  stable/insights-agent/values.yaml
Labels: stable

#179 Updating to newest container v0.2.0
  incubator/fairwinds-metrics/Chart.yaml
  incubator/fairwinds-metrics/values.yaml
Labels: incubator

#181 [basic-demo]Adding all the routes
  incubator/basic-demo/Chart.yaml
  incubator/basic-demo/templates/serviceprofile.yaml
Labels: incubator
