Repository FairwindsOps/charts, changes with the owners that CODEOWNERS names for each.
All owners: @sudermanjr, @rbren, @lucasreed, @makoscafee

CODEOWNERS:

* @sudermanjr @rbren

/incubator/autospotting/ @sudermanjr
/incubator/basic-demo/ @sudermanjr
/incubator/capsize/ @sudermanjr
/incubator/custom-iptables/ @sudermanjr
/incubator/fairwinds-metrics/ @sudermanjr
/incubator/fluentd/ @sudermanjr
/incubator/imagepullsecret-deploy/ @sudermanjr
/incubator/load-generator/ @sudermanjr
/incubator/node-problem-detector/ @sudermanjr
/incubator/opa/ @sudermanjr
/incubator/ro-cert-manager/ @sudermanjr
/incubator/route53sync/ @sudermanjr

/stable/astro/ @lucasreed
/stable/aws-iam-authenticator/ @sudermanjr
/stable/ecr-cleanup/ @sudermanjr
/stable/rbac-manager/ @sudermanjr @lucasreed
/stable/polaris/ @rbren @makoscafee
/stable/gemini/ @rbren
/stable/gke-node-termination-handler/ @sudermanjr
/stable/goldilocks/ @sudermanjr @lucasreed
/stable/fairwinds-insights/ @rbren @makoscafee
/stable/insights-admission/ @rbren @makoscafee
/stable/insights-agent/ @rbren @makoscafee
/stable/helm-release-pruner @rbren @makoscafee
/stable/vertical-pod-autoscaler @sudermanjr

Add volumes and volumeMounts to Goldilocks (#515)
  README.md
  stable/goldilocks/Chart.yaml
  stable/goldilocks/README.md
  stable/goldilocks/templates/controller-deployment.yaml
  stable/goldilocks/templates/dashboard-deployment.yaml
  stable/goldilocks/values.yaml
Owners: @sudermanjr, @rbren, @lucasreed

Add volumes and volumeMounts to Goldilocks (#515)
  README.md
  stable/goldilocks/Chart.yaml
  stable/goldilocks/README.md
  stable/goldilocks/templates/controller-deployment.yaml
  stable/goldilocks/templates/dashboard-deployment.yaml
  stable/goldilocks/values.yaml
Owners: @sudermanjr, @rbren, @lucasreed

Skip Insights tests on forked PRs
  .circleci/config.yml
Owners: @sudermanjr, @rbren

Skip Insights tests on forked PRs (#563)
  .circleci/config.yml
Owners: @sudermanjr, @rbren

Skip Insights tests on forked PRs (#563)
  .circleci/config.yml
Owners: @sudermanjr, @rbren

Update Chart.yaml
  stable/goldilocks/Chart.yaml
Owners: @sudermanjr, @lucasreed
