Repository FairwindsOps/charts, changes with the owners that CODEOWNERS names for each.
All owners: @bambash, @sudermanjr, @coreypobrien, @mjhuber, @dosullivan, @bbensky, @hopson, @crmejia, @robscott, @rbren, @makoscafee, @jordandoig, @mgoodhart5, @bobby-brennan

bump version of the chart
  stable/insights-agent/Chart.yaml
Owners: @bobby-brennan, @makoscafee

fix typos
  stable/insights-agent/templates/release-watcher/_job.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

remove trailing space
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

added new line at the end of the file
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

updating letsencrypt-setup chart version along with new apiVersion for use with cert-manager v0.11.0+ (#189)
  incubator/letsencrypt-setup/CHANGELOG.md
  incubator/letsencrypt-setup/Chart.yaml
  incubator/letsencrypt-setup/README.md
  incubator/letsencrypt-setup/ci/pre-test-script.sh
  incubator/letsencrypt-setup/ci/test-values.yaml
  incubator/letsencrypt-setup/templates/primary-valid.cluster-issuer.yaml
  incubator/letsencrypt-setup/templates/self-signed.cluster-issuer.yaml
Owners: @bambash, @sudermanjr

updating letsencrypt-setup chart version along with new apiVersion for use with cert-manager v0.11.0+ (#189)
  incubator/letsencrypt-setup/CHANGELOG.md
  incubator/letsencrypt-setup/Chart.yaml
  incubator/letsencrypt-setup/README.md
  incubator/letsencrypt-setup/ci/pre-test-script.sh
  incubator/letsencrypt-setup/ci/test-values.yaml
  incubator/letsencrypt-setup/templates/primary-valid.cluster-issuer.yaml
  incubator/letsencrypt-setup/templates/self-signed.cluster-issuer.yaml
Owners: @bambash, @sudermanjr

update label in job and rbac to edit clusterole
  stable/insights-agent/templates/release-watcher/job.yaml
  stable/insights-agent/templates/release-watcher/rbac.yaml
Owners: @bobby-brennan, @makoscafee

added release watcher
  stable/insights-agent/templates/release-watcher/_job.yaml
  stable/insights-agent/templates/release-watcher/cronjob.yaml
  stable/insights-agent/templates/release-watcher/job.yaml
  stable/insights-agent/templates/release-watcher/rbac.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

update readme page
  stable/insights-agent/README.md
Owners: @bobby-brennan, @makoscafee

Fix chart lint
  stable/insights-agent/README.md
  stable/insights-agent/templates/release-watcher/_job.yaml
  stable/insights-agent/templates/release-watcher/cronjob.yaml
  stable/insights-agent/templates/release-watcher/job.yaml
  stable/insights-agent/templates/release-watcher/rbac.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

bump version of the chart
  stable/insights-agent/Chart.yaml
Owners: @bobby-brennan, @makoscafee

fix rbac postfix
  stable/insights-agent/templates/release-watcher/rbac.yaml
Owners: @bobby-brennan, @makoscafee

fix file output arguments
  stable/insights-agent/templates/release-watcher/_job.yaml
Owners: @bobby-brennan, @makoscafee

update label in job and rbac to edit clusterole
  stable/insights-agent/templates/release-watcher/job.yaml
  stable/insights-agent/templates/release-watcher/rbac.yaml
Owners: @bobby-brennan, @makoscafee

fix typos
  stable/insights-agent/templates/release-watcher/_job.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

added new line at the end of the file
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

remove trailing space
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

fix merge issues
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

fix more typos s/relase/release
  stable/insights-agent/templates/release-watcher/_job.yaml
Owners: @bobby-brennan, @makoscafee

replace reactiveops references with fairwinds
  stable/polaris/Chart.yaml
  stable/polaris/README.md
  stable/polaris/values.yaml
  stable/rbac-manager/Chart.yaml
  stable/rbac-manager/README.md
Owners: @rbren, @makoscafee, @jordandoig, @robscott, @sudermanjr, @mjhuber

update polaris version
  stable/insights-agent/Chart.yaml
  stable/insights-agent/values.yaml
  stable/polaris/Chart.yaml
  stable/polaris/README.md
  stable/polaris/values.yaml
Owners: @bobby-brennan, @makoscafee, @rbren, @jordandoig

Change RO references to Fairwinds, update polaris (#194)
  stable/insights-agent/Chart.yaml
  stable/insights-agent/values.yaml
  stable/polaris/Chart.yaml
  stable/polaris/README.md
  stable/polaris/values.yaml
  stable/rbac-manager/Chart.yaml
  stable/rbac-manager/README.md
Owners: @bobby-brennan, @makoscafee, @rbren, @jordandoig, @robscott, @sudermanjr, @mjhuber

Change RO references to Fairwinds, update polaris (#194)
  stable/insights-agent/Chart.yaml
  stable/insights-agent/values.yaml
  stable/polaris/Chart.yaml
  stable/polaris/README.md
  stable/polaris/values.yaml
  stable/rbac-manager/Chart.yaml
  stable/rbac-manager/README.md
Owners: @bobby-brennan, @makoscafee, @rbren, @jordandoig, @robscott, @sudermanjr, @mjhuber

insights-agent: fix polaris image
  stable/insights-agent/Chart.yaml
  stable/insights-agent/README.md
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

insights-agent: fix polaris image (#195)
  stable/insights-agent/Chart.yaml
  stable/insights-agent/README.md
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

insights-agent: fix polaris image (#195)
  stable/insights-agent/Chart.yaml
  stable/insights-agent/README.md
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

Add listener options
  incubator/fairwinds-metrics/Chart.yaml
  incubator/fairwinds-metrics/templates/controller-deployment.yaml
  incubator/fairwinds-metrics/templates/listener-role.yaml
  incubator/fairwinds-metrics/templates/listener-rolebinding.yaml.yaml
  incubator/fairwinds-metrics/values.yaml
Owners: @sudermanjr, @mjhuber

Add listener rbac permissions
  incubator/fairwinds-metrics/templates/controller-deployment.yaml
  incubator/fairwinds-metrics/templates/listener-clusterrole.yaml
  incubator/fairwinds-metrics/templates/listener-clusterrolebinding.yaml
  incubator/fairwinds-metrics/templates/listener-rolebinding.yaml
  incubator/fairwinds-metrics/values.yaml
Owners: @sudermanjr, @mjhuber

increase trivy expected time to 3 hours
  stable/insights-agent/Chart.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

increase trivy expected time to 3 hours (#198)
  stable/insights-agent/Chart.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

increase trivy expected time to 3 hours (#198)
  stable/insights-agent/Chart.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

Various formatting fixes
  incubator/fairwinds-metrics/README.md
  incubator/fairwinds-metrics/templates/controller-deployment.yaml
  incubator/fairwinds-metrics/templates/listener-ingress.yaml
  incubator/fairwinds-metrics/templates/listener-service.yaml
  incubator/fairwinds-metrics/values.yaml
Owners: @sudermanjr, @mjhuber

insights-agent: add option for dockerconfig to trivy
  stable/insights-agent/Chart.yaml
  stable/insights-agent/README.md
  stable/insights-agent/templates/trivy/_job.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

add support for maxConcurrentScans
  stable/insights-agent/README.md
  stable/insights-agent/templates/trivy/_job.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

insights-agent: add option for dockerconfig to trivy (#201)
  stable/insights-agent/Chart.yaml
  stable/insights-agent/README.md
  stable/insights-agent/templates/trivy/_job.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

insights-agent: add option for dockerconfig to trivy (#201)
  stable/insights-agent/Chart.yaml
  stable/insights-agent/README.md
  stable/insights-agent/templates/trivy/_job.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

update image for release-watcher
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

Add ci test-values and update readme
  incubator/fairwinds-metrics/README.md
  incubator/fairwinds-metrics/ci/test-values.yaml
Owners: @sudermanjr, @mjhuber

Add secret for sensitive environment vars
  incubator/fairwinds-metrics/Chart.yaml
  incubator/fairwinds-metrics/templates/controller-deployment.yaml
  incubator/fairwinds-metrics/templates/secret.yaml
  incubator/fairwinds-metrics/values.yaml
Owners: @sudermanjr, @mjhuber

bump up kubesec timeout
  stable/insights-agent/Chart.yaml
  stable/insights-agent/values.yaml
Owners: @bobby-brennan, @makoscafee

CODEOWNERS:

*       @bambash @sudermanjr

/incubator/autospotting/ @sudermanjr @coreypobrien
/incubator/basic-demo/ @sudermanjr
/incubator/capsize/ @sudermanjr
/incubator/custom-iptables/ @sudermanjr
/incubator/fairwinds-metrics/ @sudermanjr @mjhuber
/incubator/fluentd/ @dosullivan @coreypobrien
/incubator/gke-node-termination-handler/ @mjhuber @bbensky @hopson
/incubator/helm-release-pruner/ @coreypobrien
/incubator/imagepullsecret-deploy/ @crmejia
/incubator/kubebench/ @mjhuber
/incubator/load-generator/ @sudermanjr
/incubator/logentries/ @mjhuber
/incubator/node-problem-detector/ @crmejia
/incubator/opa/ @sudermanjr
/incubator/ro-cert-manager/ @sudermanjr
/incubator/route53sync/ @sudermanjr
/incubator/stackdriver-metrics-adapter/ @mjhuber

/stable/aws-iam-authenticator/ @sudermanjr
/stable/ecr-cleanup/ @sudermanjr
/stable/rbac-manager/ @robscott @sudermanjr @mjhuber
/stable/polaris/ @rbren @makoscafee @jordandoig
/stable/goldilocks/ @sudermanjr @dosullivan @mgoodhart5
/stable/insights-agent/ @bobby-brennan @makoscafee
